/Assignment03_221071042_task1/nbproject/private/
/Assignment03_221071042_task1/build/
/Assignment03_221071042_task1/dist/
/Assignment04_221071042_task1/nbproject/private/
/Assignment04_221071042_task1/build/
/Assignment04_221071042_task1/dist/
/TEST/nbproject/private/
/TEST_FA/nbproject/private/
/TEST_FA/build/
/221071042_Assignment5/nbproject/private/
/221071042_Assignment05/nbproject/private/
/221071042_Assignment05/build/
/221071042_Assignment05/dist/
/ToDoApp/nbproject/private/
